@model DoAnLapTrinhWeb.ViewModels.TransactionViewModel

@{
    ViewData["PageTitle"] = "Thống Kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var border = new {color = "red" };
}
<h3>Thu Nhập</h3>
<div class="row">
    <div class="col-md-7">
        <ejs-grid id="income-transactions" dataSource="@Model.IncomeTransactions" allowSorting="true" allowMultiSorting="true" gridLines="None" allowPaging="true" allowFiltering="true">
            <e-grid-pagesettings pagesize="7"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Giao Dịch" field="CategoryNameWithIcon"></e-grid-column>
                <e-grid-column headerText="Ngày" field="Date" format="MM-dd-yyyy" typeof="date" textalign=Left></e-grid-column>
                <e-grid-column headerText="Số Tiền" field="Amount"></e-grid-column>
                <e-grid-column headerText="Tác Vụ" template="#ActionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex flex-column justify-content-center align-items-center p-4 rounded" style="background-color:#212b36">
            <h4 class="text-white mb-4">Income Statistics</h4>
            @if (ViewBag.IncomeStatistics != null)
            {
                <ul class="list-unstyled text-white">
                    <li><strong>Thu nhập cao nhất:</strong> $@(ViewBag.IncomeStatistics.HighestIncome)</li>
                    <li><strong>Tên Thu Nhập Cao Nhất:</strong> @(ViewBag.IncomeStatistics.HighestIncomeName)</li>
                    <li><strong>Ngày có tổng thu nhập cao nhất:</strong> @(ViewBag.IncomeStatistics.DayWithHighestIncome.ToString("MM-dd-yyyy"))</li>
                    <li><strong>5 Thu nhập cao nhất:</strong></li>
                    <ejs-chart id="incomeColumnChart" background="#1a222b">
                    <e-series-collection>
                        <e-series dataSource= "@ViewBag.IncomeStatistics.LargestIncomeTransactions" type="Column" xName="CategoryNameWithIcon" yName="Amount" name="Income">
                        </e-series>
                    </e-series-collection>
                            <e-chart-primaryxaxis valueType="Category"></e-chart-primaryxaxis>
                            <e-chart-primaryyaxis></e-chart-primaryyaxis>
                    <e-chart-legendSettings visible="true" position="Top">
                            <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                    </e-chart-legendSettings>
                </ejs-chart>
                    <!-- You can add more statistics here if needed -->
                </ul>
            }
            else
            {
                <p class="text-white">No income transactions available.</p>
            }
        </div>
    </div>
</div>

<h3>Tiêu Dùng</h3>
<div class="row mt-4">
    <div class="col-md-7">
        <ejs-grid id="expense-transactions" dataSource="@Model.ExpenseTransactions" allowSorting="true" allowMultiSorting="true" gridLines="None" allowPaging="true" allowFiltering="true">
            <e-grid-pagesettings pagesize="7"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Giao Dịch" field="CategoryNameWithIcon"></e-grid-column>
                <e-grid-column headerText="Ngày" field="Date" format="MM-dd-yyyy" typeof="date" textalign=Left></e-grid-column>
                <e-grid-column headerText="Số Tiền" field="Amount"></e-grid-column>
                <e-grid-column headerText="Tác Vụ" template="#ActionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex flex-column justify-content-center align-items-center p-4 rounded" style="background-color:#212b36">
            <h4 class="text-white mb-4">Expense Statistics</h4>
            @if (ViewBag.ExpenseStatistics != null)
            {
                <ul class="list-unstyled text-white">
                    <li><strong>Tiêu dùng cao nhất:</strong> $@(ViewBag.ExpenseStatistics.HighestExpense)</li>
                    <li><strong>Tên tiêu dùng Cao Nhất:</strong> @(ViewBag.ExpenseStatistics.HighestExpenseName)</li>
                    <li><strong>Ngày có tổng thiêu dùng cao nhất:</strong> @(ViewBag.ExpenseStatistics.DayWithHighestExpense.ToString("MM-dd-yyyy"))</li>
                    <li><strong>5 tiêu dùng cao nhất:</strong></li>
                    <ejs-chart id="expenseColumnChart" background="#1a222b">
                        <e-series-collection>
                            <e-series dataSource="@ViewBag.ExpenseStatistics.largestExpenseTransactions" type="Column" xName="CategoryNameWithIcon" yName="Amount" name="Expense">
                            </e-series>
                        </e-series-collection>
                        <e-chart-primaryxaxis valueType="Category"></e-chart-primaryxaxis>
                        <e-chart-primaryyaxis></e-chart-primaryyaxis>
                        <e-chart-legendSettings visible="true" position="Top">
                            <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                        </e-chart-legendSettings>
                    </ejs-chart>
                    <!-- You can add more statistics here if needed -->
                </ul>
            }
            else
            {
                <p class="text-white">No Expense transactions available.</p>
            }
        </div>
    </div>
</div>


<script id="ActionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Transaction/AddorEdit/${TransactionId}">
            <i class="fa-solid fa-wand-magic"></i>
        </a>
        <form action="/Transaction/Delete/${TransactionId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration" onclick="return confirm(&quot;Bạn có muốn xóa ${Name} ?&quot;)">
                <i class="fa-solid fa-eraser fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>

